@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

h1 {
  font-weight: 900;
  margin: 0;
  color: var(--dark-blue);
}

body {
  margin: 0;
  background: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
}

main {
  width: 400px;
  height: 650px;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 32px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: gray;
}

.order p {
  line-height: 1.7;
}

.annualPlan {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
  width: 100%;
  background-color: var(--very-pale-blue);
  border-radius: 1rem;
  align-items: center;
}

.annualPlan span {
  color: gray;
  font-weight: 400;
}

h3 {
  margin: 0;
}

.change {
  border: none;
  margin-left: auto;
  color: var(--bright-blue);
  font-weight: 700;
  text-decoration: underline;
}

.illustration-hero {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button1 {
  width: 70%;
  background-color: blue;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 12px 25px grey;
  width: 350px;
  height: 40px;
  border: none;
  font-weight: 700;
  font-size: large;
}

.button1:hover {
  background-color: rgb(97, 97, 234);
}

.button2 {
  display: flex;
  justify-content: center;
  color: grey;
  margin-top: 30px;
  border: none;
  background-color: white;
  font-weight: 700;
  font-size: large;
}

.button2:hover {
  color: black;
}

.change:hover {
  text-decoration: none;
  color: rgb(97, 97, 234);
}
@media (max-width: 400px) {
  main {
    width: 300px;
    height: 500px;
  }
  .button1 {
    width: 222px;
    height: 40px;
    font-size: small;
    margin-top: 15px;
    border-radius: 0.5rem;
  }
  .button2 {
    font-size: small;
  }
  .annualPlan {
    gap: 15px;
    font-size: small;
  }
}
