@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --bright-blue-shadow: hsla(245, 75%, 52%, 0.25);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 900;
  margin: 0;
  color: var(--dark-blue);
}
button {
  cursor: pointer;
  border: none;
  background: none;
}

body {
  background: url('./images/pattern-background-desktop.svg'), var(--pale-blue);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

main {
  width: 450px;
  height: 700px;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 2.5rem;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
}

p {
  line-height: 1.6;
  color: var(--desaturated-blue);
  max-width: 350px;
}

.annualPlan {
  display: flex;
  padding: 1.5rem;
  gap: 1.25rem;
  width: 100%;
  background-color: var(--very-pale-blue);
  border-radius: 1rem;
  align-items: center;
}

.annualPlan div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h3 {
  font-size: 16px;
}

.annualPlan span {
  color: var(--desaturated-blue);
  font-weight: 400;
}

.change {
  margin-left: auto;
  color: var(--bright-blue);
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.change:hover {
  text-decoration: none;
  opacity: 0.7;
}

.illustration-hero {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button1 {
  padding: 1rem;
  background-color: var(--bright-blue);
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0 15px 20px 0 var(--bright-blue-shadow);
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.button1:hover {
  opacity: 0.7;
}

.button2 {
  color: var(--desaturated-blue);
  margin-top: 2rem;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.button2:hover {
  color: var(--dark-blue);
}

@media (max-width: 460px) {
  body {
    padding: 1rem;
    background: url('./images/pattern-background-mobile.svg'), var(--pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
  }
  main {
    width: auto;
    height: auto;
  }
  .container {
    gap: 1rem;
  }
  h1 {
    font-size: 1.125rem;
  }
  p {
    font-size: 14px;
  }
  .annualPlan {
    padding: 1rem;
    gap: 1rem;
  }
  .annualPlan div {
    gap: 0;
  }
  h3 {
    font-size: 14px;
  }
  .annualPlan span {
    font-size: 14px;
  }
  .change {
    font-size: 12px;
  }
  .button1,
  .button2 {
    font-size: 12px;
  }
  .button2 {
    margin-top: 28px;
  }
}
